In [5]:
#pandas series
#it is basically a collection with storre the array of diffrent types with the lebels and give the data type of 
#stored data

import pandas as pd
sr=pd.Series([56.45,'snehal',54,34],index=['a','b','c','d'])
print(sr)

a     56.45
b    snehal
c        54
d        34
dtype: object

In [8]:
#Dataframe
#dataframe is 2D labeled data structure in pandas it look like table structure
#it has rows,colums

import pandas as pd

data={
    "names":["snehal","krishiv"],
    "Age":[21,22],
}

df=pd.DataFrame(data)
print(df)

     names  Age
0   snehal   21
1  krishiv   22

In [16]:
#import the CSV files

import pandas as pd
df=pd.read_csv("data.csv")
print(df.head)
print(df.info())
print(df.isnull().sum())
ages=df[df['age']>26]
print(ages)
df['total']=df['a']+df['b']
print(df.head)

<bound method NDFrame.head of     name  age     city category  sales  a   b
0   John   25    Delhi        A    200  5  10
1   Riya   22   Mumbai        B    120  2   3
2   Aman   30     Pune        A    250  7   8
3   Neha   27  Kolkata        C    300  4   6
4  Arjun   35   Jaipur        B    200  1   9>
<class 'pandas.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      5 non-null      str
 1   age       5 non-null      int64
 2   city      5 non-null      str
 3   category  5 non-null      str
 4   sales     5 non-null      int64
 5   a         5 non-null      int64
 6   b         5 non-null      int64
dtypes: int64(4), str(3)
memory usage: 412.0 bytes
None
name        0
age         0
city        0
category    0
sales       0
a           0
b           0
dtype: int64
    name  age     city category  sales  a  b
2   Aman   30     Pune        A    250  7  8
3   Neha   27  Kolkata        C    300  4  6
4  Arjun   35   Jaipur        B    200  1  9
<bound method NDFrame.head of     name  age     city category  sales  a   b  total
0   John   25    Delhi        A    200  5  10     15
1   Riya   22   Mumbai        B    120  2   3      5
2   Aman   30     Pune        A    250  7   8     15
3   Neha   27  Kolkata        C    300  4   6     10
4  Arjun   35   Jaipur        B    200  1   9     10>

In [17]:
import pandas as pd

df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [18]:
import pandas as pd

lst=['a','b','c','d','e']
df=pd.DataFrame(lst)
print(df)

   0
0  a
1  b
2  c
3  d
4  e

In [21]:
import numpy as np
import pandas as pd

data=np.array([[1,2,3],[4,5,6],[7,8,9]])
df=pd.DataFrame(data,columns=['a','b','c'])
print(df)

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [22]:
#creating dataframe using zip()

import pandas as pd
lst=[56,45,65]
lst1=['snehal','krishiv']
l=list(zip(lst,lst1))
print(l)

[(56, 'snehal'), (45, 'krishiv')]

In [27]:
import pandas as pd

data = {'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'],
        'Age': [25, 30, 22, 35, 28],
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
        'Salary': [50000, 55000, 40000, 70000, 48000],
        'city':['amreli','suurat','london','nw','rajkot']
       }

df=pd.DataFrame(data)
print(df.index)
print(df.iloc[2])
#specific colums
print(df.loc[0:2,['Name','Age']])
#access specific cell
print(df.at[2,'Name'])

RangeIndex(start=0, stop=5, step=1)
Name         Bob
Age           22
Gender      Male
Salary     40000
city      london
Name: 2, dtype: object
    Name  Age
0   John   25
1  Alice   30
2    Bob   22

In [30]:
import pandas as pd

csv=pd.read_csv("data_file.csv")
print("Dataset")
print(csv.head())
age=csv[['Name','Age']]
print(age)
#selecting a singal row
csv=csv.set_index(['Name'])
row=csv.loc['Krishiv']

#selecting multiple rows
row=csv.loc[['Krishiv','Snehal']]
print(row)

#selecting rows and cols
selection=csv.loc[['Krishiv','Snehal'],['City','Score']]
print(selection)

#selecting all rows and specific colums
csv=csv.reset_index()
specific=csv.loc[:,['Name','City','Score']]
print(specific)

#The .iloc[] function is used for position-based indexing.
#It allows us to access rows and columns by their integer positions. 
#It is similar to .loc[] but only accepts integer-based indices to specify rows and columns.
row=csv.iloc[3]
print(row)

#selecting multiple columns with the indexes
row=csv.iloc[[4,5,3]]
print(row)

#selecting specific rows and columns by position
row=csv.iloc[[3,5],[1,2]]
print(row)

#selecting all rows and specific colums
row=csv.iloc[:,[1,2]]
print(row)

#head
print(csv.head(5))

#tail
print(csv.tail(5))

#get specific value from the name 
csv=csv.set_index('Name')
val=csv.at['Snehal','Age']
print(val)

#query()
query=csv.query("Age>25 and City=='Surat'")
print(query)

Dataset
      Name  Age       City  Score Category
0   Snehal   20  Ahmedabad     85        A
1  Krishiv   17      Surat     72        B
2    Viaan   15     Mumbai     90        A
3    Katha   22      Delhi     65        C
4    Richa   19       Pune     88        A
      Name  Age
0   Snehal   20
1  Krishiv   17
2    Viaan   15
3    Katha   22
4    Richa   19
5    Meera   24
6      Ram   18
7     Siya   21
         Age       City  Score Category
Name
Krishiv   17      Surat     72        B
Snehal    20  Ahmedabad     85        A
              City  Score
Name
Krishiv      Surat     72
Snehal   Ahmedabad     85
      Name       City  Score
0   Snehal  Ahmedabad     85
1  Krishiv      Surat     72
2    Viaan     Mumbai     90
3    Katha      Delhi     65
4    Richa       Pune     88
5    Meera     Jaipur     95
6      Ram     Rajkot     70
7     Siya     Indore     82
Name        Katha
Age            22
City        Delhi
Score          65
Category        C
Name: 3, dtype: object
    Name  Age    City  Score Category
4  Richa   19    Pune     88        A
5  Meera   24  Jaipur     95        A
3  Katha   22   Delhi     65        C
   Age    City
3   22   Delhi
5   24  Jaipur
   Age       City
0   20  Ahmedabad
1   17      Surat
2   15     Mumbai
3   22      Delhi
4   19       Pune
5   24     Jaipur
6   18     Rajkot
7   21     Indore
      Name  Age       City  Score Category
0   Snehal   20  Ahmedabad     85        A
1  Krishiv   17      Surat     72        B
2    Viaan   15     Mumbai     90        A
3    Katha   22      Delhi     65        C
4    Richa   19       Pune     88        A
    Name  Age    City  Score Category
3  Katha   22   Delhi     65        C
4  Richa   19    Pune     88        A
5  Meera   24  Jaipur     95        A
6    Ram   18  Rajkot     70        B
7   Siya   21  Indore     82        B
20
Empty DataFrame
Columns: [Age, City, Score, Category]
Index: []

In [38]:
#slicing in pandas

import pandas as pd
player_list = [['M.S.Dhoni', 36, 75, 5428000],
               ['A.B.D Villers', 38, 74, 3428000],
               ['V.Kohli', 31, 70, 8428000],
               ['S.Smith', 34, 80, 4428000],
               ['C.Gayle', 40, 100, 4528000],
               ['J.Root', 33, 72, 7028000],
               ['K.Peterson', 42, 85, 2528000]]

df=pd.DataFrame(player_list,columns=['Name','Age','Weight','Salary'])
print(df)

#slicing using iloc
df1=df.iloc[:3]
print(df1)

#slicing colums
df1=df.iloc[:,0:2]
print(df1)

#slicing specific cell
val=df.iloc[2,3]
print(val)

#slicing based on condition
cond=df[df['Age']>40].iloc[:,:]
print(cond)

            Name  Age  Weight   Salary
0      M.S.Dhoni   36      75  5428000
1  A.B.D Villers   38      74  3428000
2        V.Kohli   31      70  8428000
3        S.Smith   34      80  4428000
4        C.Gayle   40     100  4528000
5         J.Root   33      72  7028000
6     K.Peterson   42      85  2528000
            Name  Age  Weight   Salary
0      M.S.Dhoni   36      75  5428000
1  A.B.D Villers   38      74  3428000
2        V.Kohli   31      70  8428000
            Name  Age
0      M.S.Dhoni   36
1  A.B.D Villers   38
2        V.Kohli   31
3        S.Smith   34
4        C.Gayle   40
5         J.Root   33
6     K.Peterson   42
8428000
         Name  Age  Weight   Salary
6  K.Peterson   42      85  2528000

In [44]:
#filtering pandas dataframe
import pandas as pd
dataFrame = pd.DataFrame({'Name': [' RACHEL  ', ' MONICA  ', ' PHOEBE  ',
                                   '  ROSS    ', 'CHANDLER', ' JOEY    '],
                          
                          'Age': [30, 35, 37, 33, 34, 30],
                          
                          'Salary': [100000, 93000, 88000, 120000, 94000, 95000],
                          
                          'JOB': ['DESIGNER', 'CHEF', 'MASUS', 'PALENTOLOGY',
                                  'IT', 'ARTIST']})
print(dataFrame)
display(dataFrame.loc[(dataFrame['Salary']>=100000) & (dataFrame['Age']>=30) & (dataFrame['JOB'].str.startswith('D')),['Name','JOB']])

         Name  Age  Salary          JOB
0    RACHEL     30  100000     DESIGNER
1    MONICA     35   93000         CHEF
2    PHOEBE     37   88000        MASUS
3    ROSS       33  120000  PALENTOLOGY
4    CHANDLER   34   94000           IT
5    JOEY       30   95000       ARTIST

        Name       JOB
0   RACHEL    DESIGNER

In [2]:
#find out the missing values in the list
import numpy as np
import pandas as pd

dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}

df=pd.DataFrame(dict)
print(df.isnull())

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False

In [3]:
#fill null value with 0
import numpy as np
import pandas as pd

dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}

df=pd.DataFrame(dict)
print(df.fillna(0))

   First Score  Second Score  Third Score
0        100.0          30.0          0.0
1         90.0          45.0         40.0
2          0.0          56.0         80.0
3         95.0           0.0         98.0

In [4]:
#dropping missing values
import numpy as np
import pandas as pd

dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}

df=pd.DataFrame(dict)
print(df.dropna())

   First Score  Second Score  Third Score
1         90.0          45.0         40.0

In [14]:
#iterating over rows and colums

import pandas as pd
import numpy as np

dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
        'degree': ["MBA", "BCA", "M.Tech", "MBA"],
        'score':[90, 40, 80, 98]}
df=pd.DataFrame(dict)
print(df)

for i,j in df.iterrows():
    print(i,j)
    print()

cols=list(df)

for i in cols:
    print(df[i][2:5])

print(df.sample)

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98
0 name      aparna
degree       MBA
score         90
Name: 0, dtype: object

1 name      pankaj
degree       BCA
score         40
Name: 1, dtype: object

2 name      sudhir
degree    M.Tech
score         80
Name: 2, dtype: object

3 name      Geeku
degree      MBA
score        98
Name: 3, dtype: object

2    sudhir
3     Geeku
Name: name, dtype: str
2    M.Tech
3       MBA
Name: degree, dtype: str
2    80
3    98
Name: score, dtype: int64
<bound method NDFrame.sample of      name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98>

In [21]:
#grouping in pandas
import numpy as np
import pandas as pd

data = {
    'Name': ['A', 'B', 'C', 'D', 'E'],
    'Department': ['IT', 'HR', 'IT', 'HR', 'IT'],
    'Salary': [50000, 60000, 55000, 58000, 62000]
}

df=pd.DataFrame(data)
print(df)

#group by one column
df.groupby('Department')['Salary'].mean()

#multiple aggregation
df.groupby('Department')['Salary'].agg(['min','max','mean','sum'])

#groupby multiple columns
df.groupby(['Department','Name'])['Salary'].sum()

#count
df.groupby('Department').count()

  Name Department  Salary
0    A         IT   50000
1    B         HR   60000
2    C         IT   55000
3    D         HR   58000
4    E         IT   62000

            Name  Salary
Department
HR             2       2
IT             3       3